In [1]:
import pandas as pd
import urllib # sirve para acceder a archivos de internet y descargarlos automaticamnete
import os

In [2]:
# os me sirve para crear la ruta de los directorios, donde quiero descargar mi archivo
file_path = os.path.join("data", "covid") #nombro las carpetas

In [3]:
os.makedirs(file_path, exist_ok = True) #creacion de las carpetas

In [4]:
csv_path = os.path.join(file_path, 'data.csv') #decirle que guarde el nombre del archivo en la carpeta

In [5]:
urllib.request.urlretrieve('https://covid19.who.int/WHO-COVID-19-global-data.csv', csv_path) # descarga el archivo desde este link de internet

('data\\covid\\data.csv', <http.client.HTTPMessage at 0x11f6da447f0>)

In [6]:
df = pd.read_csv(csv_path)

In [7]:
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [8]:
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
125131,2021-06-09,ZW,Zimbabwe,AFRO,83,39321,6,1617
125132,2021-06-10,ZW,Zimbabwe,AFRO,111,39432,5,1622
125133,2021-06-11,ZW,Zimbabwe,AFRO,64,39496,4,1626
125134,2021-06-12,ZW,Zimbabwe,AFRO,192,39688,3,1629
125135,2021-06-13,ZW,Zimbabwe,AFRO,164,39852,3,1632

In [9]:
df_index = df.index

In [10]:
df_index #aqui solo retorna el objeto el valor inicial y el fin de los indices del dataframe

RangeIndex(start=0, stop=125136, step=1)

In [11]:
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [12]:
df_index.values #convertir en un array los valores de los indices

array([     0,      1,      2, ..., 125133, 125134, 125135], dtype=int64)

In [13]:
df.values #toma los valores del dataframe pero no toma los indices ni las columnas y lo transforma en una matriz tipo numpy

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2021-06-11', 'ZW', 'Zimbabwe', ..., 39496, 4, 1626],
       ['2021-06-12', 'ZW', 'Zimbabwe', ..., 39688, 3, 1629],
       ['2021-06-13', 'ZW', 'Zimbabwe', ..., 39852, 3, 1632]],
      dtype=object)

In [14]:
df.dtypes #tipo de clase es cada columna

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [15]:
df.info() #info mas detallada del dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125136 entries, 0 to 125135
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      125136 non-null  object
 1   Country_code       124608 non-null  object
 2   Country            125136 non-null  object
 3   WHO_region         125136 non-null  object
 4   New_cases          125136 non-null  int64
 5   Cumulative_cases   125136 non-null  int64
 6   New_deaths         125136 non-null  int64
 7   Cumulative_deaths  125136 non-null  int64
dtypes: int64(4), object(4)
memory usage: 7.6+ MB

In [16]:
df.describe() #estadisticas del dataframe

           New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  125136.000000      1.251360e+05  125136.000000      125136.000000
mean     1400.928574      2.290165e+05      30.309240        5584.926360
std      9624.888206      1.450038e+06     170.479601       29479.567327
min    -32952.000000      0.000000e+00     -43.000000           0.000000
25%         0.000000      1.900000e+01       0.000000           0.000000
50%         7.000000      2.333000e+03       0.000000          39.000000
75%       289.000000      4.493900e+04       4.000000         745.000000
max    414188.000000      3.312062e+07    6508.000000      594272.000000

In [24]:
len(df['Country'].unique())

237

In [18]:
df.loc[1:8,['Country','New_cases']]

       Country  New_cases
1  Afghanistan          0
2  Afghanistan          0
3  Afghanistan          0
4  Afghanistan          0
5  Afghanistan          0
6  Afghanistan          0
7  Afghanistan          0
8  Afghanistan          0

In [19]:
df.Country == 'Ecuador'

0         False
1         False
2         False
3         False
4         False
          ...
125131    False
125132    False
125133    False
125134    False
125135    False
Name: Country, Length: 125136, dtype: bool

In [20]:
df[df.Country == 'Ecuador']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
31680,2020-01-03,EC,Ecuador,AMRO,0,0,0,0
31681,2020-01-04,EC,Ecuador,AMRO,0,0,0,0
31682,2020-01-05,EC,Ecuador,AMRO,0,0,0,0
31683,2020-01-06,EC,Ecuador,AMRO,0,0,0,0
31684,2020-01-07,EC,Ecuador,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
32203,2021-06-09,EC,Ecuador,AMRO,246,432985,17,20831
32204,2021-06-10,EC,Ecuador,AMRO,885,433870,72,20903
32205,2021-06-11,EC,Ecuador,AMRO,2153,436023,46,20949
32206,2021-06-12,EC,Ecuador,AMRO,1098,437121,48,20997
32207,2021-06-13,EC,Ecuador,AMRO,0,437121,0,20997

In [21]:
df[(df.Country == 'Ecuador') & (df.New_deaths > 100)]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
31797,2020-04-29,EC,Ecuador,AMRO,1018,24258,208,871
31800,2020-05-02,EC,Ecuador,AMRO,1402,26336,163,1063
31801,2020-05-03,EC,Ecuador,AMRO,1128,27464,308,1371
31802,2020-05-04,EC,Ecuador,AMRO,2074,29538,193,1564
31809,2020-05-11,EC,Ecuador,AMRO,741,29559,423,2127
31811,2020-05-13,EC,Ecuador,AMRO,910,30419,182,2327
31815,2020-05-17,EC,Ecuador,AMRO,965,31467,256,2594
31818,2020-05-20,EC,Ecuador,AMRO,969,34151,103,2839
31821,2020-05-23,EC,Ecuador,AMRO,974,35828,168,3056
31835,2020-06-06,EC,Ecuador,AMRO,1140,42106,106,3592
31842,2020-06-13,EC,Ecuador,AMRO,1338,45778,108,3828
31862,2020-07-03,EC,Ecuador,AMRO,3126,59468,112,4639
31928,2020-09-07,EC,Ecuador,AMRO,-8956,109089,3800,10524
31955,2020-10-04,EC,Ecuador,AMRO,817,140351,102,11597
31960,2020-10-09,EC,Ecuador,AMRO,1514,145045,398,12141
32018,2020-12-06,EC,Ecuador,AMRO,1507,197391,144,13756
32144,2021-04-11,EC,Ecuador,AMRO,2199,344877,117,17275
32151,2021-04-18,EC,Ecuador,AMRO,2193,358157,113,17641
32156,2021-04-23,EC,Ecuador,AMRO,2550,365393,161,17965
32160,2021-04-27,EC,Ecuador,AMRO,1413,374775,123,18300
32170,2021-05-07,EC,Ecuador,AMRO,2279,395327,111,19018
32179,2021-05-16,EC,Ecuador,AMRO,2518,409520,178,19692
32183,2021-05-20,EC,Ecuador,AMRO,1441,412907,102,19979

In [22]:
df.loc[(df.New_deaths > 1000 ) & (df.Country_code == 'US'), ['Date_reported', 'Country', 'New_cases', 'Cumulative_cases', 'New_deaths']]

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths
119421,2020-04-05,United States of America,35131,279512,1067
119422,2020-04-06,United States of America,30593,310105,1157
119423,2020-04-07,United States of America,25511,335616,1364
119424,2020-04-08,United States of America,42604,378220,3243
119426,2020-04-10,United States of America,31714,431909,1958
...,...,...,...,...,...
119771,2021-03-21,United States of America,61405,29466572,1359
119776,2021-03-26,United States of America,65751,29747372,1091
119777,2021-03-27,United States of America,67796,29815168,1237
119778,2021-03-28,United States of America,71388,29886556,1170
119839,2021-05-28,United States of America,24462,32869009,1120

In [ ]:
df.loc[df.Country_code == 'US', ['New_cases']].max()

In [23]:
df.len()

AttributeError: 'DataFrame' object has no attribute 'len'

In [ ]:
df.New_cases.idxmax() #indice del valor maximo

In [ ]:
fecha_max = df.loc[df.Country_code == 'EC', ['New_deaths']].idxmax()

In [ ]:
fecha = df.Date_reported[fecha_max]

In [ ]:
print(fecha)

In [ ]:
df.loc[df.New_deaths.idxmax(), ['Date_reported', 'Country', 'New_cases', 'New_deaths']]

In [ ]:
new_df = df.groupby('Country').max()

In [ ]:
new_df.head()

In [ ]:
new_df.loc[(new_df.Country_code == 'EC', ['Date_reported', 'New_cases', 'Cumulative_cases', 'Cumulative_deaths','New_deaths']]

In [ ]:
df.loc[(df.New_deaths > 1000 ) & (df.Country_code == 'US'), ['Date_reported', 'Country', 'New_cases', 'Cumulative_cases', 'New_deaths']]